

*{margin: 0%;
padding: 0%;
}
img{max-width: 120px;}



.interface{display: flex;
align-items: center;
justify-content: space-between;
 }
ul{
    list-style-type: none;
    display: inline-block;
   
}